<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	.month-picker{
		width: 230px;
		height: 130px;
		padding: 15px;
		border: 1px solid black;
		text-align: center;
	}
	.month-picker-month{
		padding-right: 10px;
	}
	
	.year-prev,.year-next{
		float: left;
		color:#cacbcc;
		margin: 0 20px;
	}

	.year-prev{
		float: left;
	}

	.year-next{
		float: right;
	}
	
	.month-picker-month a{
		margin: 5px;
	    width: 35px;
	    display: inline-block;
	    text-align: right;
	}
</style>
</head>
<body>
<div class="month-picker">
	<div class="month-picker-year">
		<a href="#" class="year-prev">◀</a>
		<span>2020</span><span>년</span>
		<a href="#" class="year-next">▶</a>
	</div>
	<div class="month-picker-month">
		<a href="#">1월</a>
		<a href="#">2월</a>
		<a href="#">3월</a>
		<a href="#">4월</a><br>
		<a href="#">5월</a>
		<a href="#">6월</a>
		<a href="#">7월</a>
		<a href="#">8월</a><br>
		<a href="#">9월</a>
		<a href="#">10월</a>
		<a href="#">11월</a>
		<a href="#">12월</a>
	</div>
</div>
</body>
</html>